{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "ignorePatterns": ["webpack", "dist"],
    "rules": {
        "@typescript-eslint/explicit-member-accessibility": ["error"],
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-console": "off",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "@typescript-eslint/quotes": [
            "error",
            "single"
        ]
    }
}
